h1{
    text-align: center;
    color: darkred;
}

h2{
    text-align: center;
    color: darkred;
    font-size: 35px;
}
.posters{
    background-color: rgba(166, 12, 12, 0.887);
    color: white;
    padding-bottom: 50px;
}
h3{
    font-size: 45px;
}
.container{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
p{
    font-size: 15px;
    color: black;
}
.people{
    padding-top: 50px;
    background-color: white;
    padding-left:250px;
    padding-right:250px;
}
h4{
    color: darkred;
    font-size:25px;
}
h5{
    color: darkred;
    font-size: 35px;
}
h6{
    color:darkred;
    font-size:25px;
}
#arkellstyle{
    font-size:20px;
    color:darkred;
    font-weight:bold;
}
#thomasstyle{
    font-size:20px;
    color:darkred;
    font-weight:bold;
}
.members{
    line-height:2;
}
h7{
    color: darkred;
    font-size: 35px;
    padding-left: 200px;
}
.quotes{
    padding-left: 200px;
    padding-right:200px;
}
.quote{
    font-size: 40px;
}
.name{
    font-size:15px;
    color: grey;
}